<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <script src="js/dashboard.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>


    <body id="body">

        <div class="wrapper">
            <div class="pre-loader">
                    <div class="loader"></div>
            </div>

            <div class="slide-btn">
                <ul>
                    <li><button id="s1" onclick="slideupBtn()"></button></li>
                    <li><button id="s2" onclick="skillSlide()"></button></li>
                    <li><button id="s3"></button></li>
                </ul>
            </div>

            <section id="header-content">
                <div class="nav">
                    <div class="avi">
                        <span id="head">Justin Browning</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#" onclick="skillSlide()">Skills</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="logo">
                    <h1 id="rot">Fullstack Developer</h1>
                    <button id="btn" onclick="workSlide()">MY WORK</button>
                </div>
            </section>

            <section id="skills-content">
                <div class="skills-header">
                    <h1>My Skills</h1>
                </div>

               <div class="skills-wrapper">

                   <div class="skills">
                        <h2><span id="words">Langua</span>ges</h2>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Ruby</li>
                            <li>SQL</li>
                        </ul>
                   </div>
                   <div class="skills">
                        <h2><span id="words">Framew</span>orks & Libs</h2>
                        <ul>
                            <li>Sinatra</li>
                            <li>Node.js (Express)</li>
                            <li>JQuery</li>
                            <li>Ajax</li>
                            <li>React</li>
                            <li>Bootstrap</li>
                        </ul>
                   </div>
                   <div class="skills">
                        <h2><span id="words">Additi</span>onal</h2>
                        <ul>
                            <li>Microsoft SQL Server</li>
                            <li>PostgreSQL</li>
                            <li>AWS</li>
                            <li>REST API</li>
                            <li>NPM/Yarn</li>
                            <li>Git</li>
                            <li>Github</li>
                        </ul>
                   </div>
               </div>
            </section>

        </div>
    </body>

</html>