<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    </head>


    <body id="body" onclick="bgChange()">

        <div class="wrapper">
            <div class="pre-loader">
                    <div class="loader"></div>
            </div>

            <div class="slide-btn">
                <ul>
                    <li><button id="s1" onclick="slideupBtn()"></button></li>
                    <li><button id="s2" onclick="slideBtn()"></button></li>
                    <li><button id="s3" onclick="slide2Btn()"></button></li>
                </ul>
            </div>

            <section id="header-content">
                <div class="nav">
                    <div class="avi">
                        <span>Justin Browning</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Skills</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="logo">
                    <h1 id="rot">Fullstack Developer</h1>
                    <button id="btn" onclick="workSlide()">MY WORK</button>
                </div>
            </section>

            <section id="work-content">
               
            </section>

        </div>
    </body>

    <script src="js/dashboard.js"></script>
</html>