<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <script src="js/dashboard.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>


    <body id="body">

        <div class="wrapper">
            <div class="pre-loader">
                    <div class="loader"></div>
            </div>

            <div class="slide-btn">
                <ul>
                    <li><button id="s1" onclick="slideupBtn()"></button></li>
                    <li><button id="s2" onclick="skillSlide()"></button></li>
                    <li><button id="s3"></button></li>
                </ul>
            </div>

            <section id="header-content">
                <div class="nav">
                    <div class="avi">
                        <span>Justin Browning</span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#" onclick="skillSlide()">Skills</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="logo">
                    <h1 id="rot">Fullstack Developer</h1>
                    <button id="btn" onclick="workSlide()">MY WORK</button>
                </div>
            </section>

            <section id="skills-content">
               <div class="skills-wrapper">
                    <div class="skills-content">
                        <div class="skills-row">
                            <center>
                            <figure style="font-size: 1.2rem">
                                <h2><i class="fas fa-pencil-alt"></i></h2>
                            </figure>
                            </center>
                                
                            

                            <h1>Designer</h1>

                            <ul>
                                <li>Adobe XD</li>
                                <li>Photoshop</li>
                                <li>Pen and Paper</li>
                            </ul>
                        </div>

                        <div class="skills-row">
                            <center>
                            <figure style="font-size: 1.2rem">
                                <h2><i class="fas fa-code"></i></h2>
                            </figure>
                            </center>
                            <h1>Front-End</h1>
                            
                             <p>Langauges</p>
                            <ul>
                                <li>HTML 5</li>
                                <li>CSS3</li>
                                <li>PUG</li>
                                <li>Javascript</li>
                                <li>Jquery/AJAX</li>
                                <li>Json</li>
                            </ul>
                            
                            <p>Tools</p>
                            <ul>
                                <li>Flex Box</li>
                                <li>Grid</li>
                                <li>Google Developer</li>
                                <li>Bootstrap</li>
                            </ul>
                        </div>

                        <div class="skills-row">
                            <center>
                            <figure style="font-size: 1.2rem">
                                <h2><i class="fas fa-laptop-code"></i></h2>
                            </figure>
                            </center>

                            <h1>Back-End</h1>

                            <p>Langauges</p>
                            <ul>
                                <li>Ruby</li>
                                <li>Node.js</li>
                            </ul>

                            <p>Frameworks</p>
                            <ul>
                                <li>Express</li>
                                <li>Sinatra</li>
                            </ul>

                            <p>Tools</p>
                            <ul>
                                <li>AWS/RDS</li>
                                <li>PostgreSQL</li>
                                <li>GIT</li>
                                <li>Ngrok</li>
                                <li>NPM</li>
                                <li>YARN</li>
                                <li>DBEAVER</li>
                                <li>Heroku</li>
                                <li>Rest-api</li>
                            </ul>
                        </div>
                    </div>
               </div>
            </section>

        </div>
    </body>

</html>