@import url('https://fonts.googleapis.com/css?family=Niramit|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgb(8, 12, 221), rgb(17, 53, 216));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: table;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    font-family: 'Quicksand';
}

.avi {
    letter-spacing: 1px;
    float: left;
    color: #fff;
    font-size: 1.3rem;
    line-height: 80px;
    padding: 0 6rem;
    text-transform: uppercase;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 6em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 0 1.2rem;
    text-transform: uppercase;
}

.menu a:hover {
    color: #ccc;
}

/* Moto */

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo h1 {
    font-size: 3rem;
    color: #efefef;
    text-transform: uppercase;
    font-family: 'Open Sans';
    letter-spacing: 5px;
}

#btn {
    outline: none;
    border: 2px solid rgb(226, 193, 8);
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 15px;
    background: transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#btn:hover {
    background: rgb(226, 193, 8);
    color: #181818;
    transition: all 0.2s ease-in-out;
}

section {
    height: 100vh;
}

/* Work Section */

#work-content {
    background: #fff;
}

/* Slide buttons */

.slide-btn {
    position: fixed;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.slide-btn li {
    list-style: none;
    margin: 5px 0;
}

.slide-btn button {
    content: '';
    outline: none;
    background: transparent;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 7px;
}

.slide-btn button:hover {
    background: #000;
}