@import url('https://fonts.googleapis.com/css?family=Niramit|Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    height: 100vh;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #5CDB95;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    font-family: 'Quicksand';
    animation: nav 3s ease;
}

.avi {
    letter-spacing: 1px;
    float: left;
    color: #05386B;
    font-size: 1.4rem;
    line-height: 80px;
    padding: 0 6rem;
    /* text-transform: uppercase; */
    font-weight: normal;
    letter-spacing: 5px;
    animation: nav 1s ease;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 6em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #05386B;
    font-size: 1.4rem;
    font-weight: bold;
    /* padding: 0 1.2rem; */
    margin: 0 1.2rem;
    text-transform: uppercase;
}

.menu a:hover {
    border-bottom: 2px solid #05386B;
    /* padding: 0; */
}

span {
    border: 2px solid #05386B;
    color: #EDF5E1;
    background: #05386B;
    text-transform: capitalize;
    border-bottom-right-radius: 30px;
    padding: 12px;
    font-family: 'Raleway', sans-serif;
}

/* Moto */

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: load 1.5s ease;
}

.logo h1 {
    font-size: 4rem;
    color: #EDF5E1;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-weight: bolder;
    letter-spacing: 10px;
}

#btn {
    outline: none;
    border: 2px solid #05386B;
    font-size: 1.8rem;
    color: #05386B;
    letter-spacing: 2px;
    padding: 10px 15px;
    background: transparent;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

#btn:hover {
    background: #05386B;
    color: #EDF5E1;
    transition: all 0.2s ease-in-out;
}

section {
    height: 100vh;
}

/* Slide buttons */

.slide-btn {
    position: fixed;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    animation: btn 1s ease;
}

.slide-btn li {
    list-style: none;
    margin: 5px 0;
}

.slide-btn button {
    content: '';
    outline: none;
    background: transparent;
    border: 2px solid #EDF5E1;
    border-radius: 50px;
    padding: 9px;
}

.slide-btn button:hover {
    background: #EDF5E1;
}

/* Skills Section */

#skills-content {
    background: #05386B;
    display: flex;
}

.skills-wrapper {
    width: 1200px;
    margin: auto;
   
}

.skills-content {
    display: flex;
    flex-direction: row;
}


.skills-row {
    flex: 1;
    color: #EDF5E1;
    border: 2px solid;
    border-radius: 10px;
}

.skills-row h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}

.skills-row p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: #5CDB95;
    letter-spacing: 2px;
}

.skills-row ul {
    list-style: none;
    padding: 0;
}

.skills-row ul li {
    text-align: center;
    font-family: 'Niramit';
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    color: #EDF5E1;
    text-transform: uppercase;
}

figure h2 {
    color: #EDF5E1;
}


/* Animations */

@keyframes load {
    0% {
        top: 100%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 50%;
    }
}

@keyframes btn {
    0% {
        left:  100%;
        opacity: 0;
    }

    100% {
        left: 95%;
        opacity: 1;
    }
}

@keyframes nav {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media(max-width: 768px) {
    .skills-content {
        flex-direction: column;
    }
}